.a701
{
    background-image: url(img-3.jpg);
    width: 100%;
    height: 110%;
    background-size: cover;
}
.a702
{
    width: 100%;
    height: 100%;
    background-color: #131433de;
}

.b701
{
    width: 70%;
    height: 40%;
    text-align: left;
    display: flex;
    float: left;
    flex-direction: column;
}


.b702
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-left: 18%;

}

.b703
{
    color: rgba(255, 255, 255, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    margin-left: 18%;
    margin-top: -3%;
}

.b704
{
    width: 30%;
    height: 40%;
    text-align: left;
    display: flex;
    float: left;
}

div.b705
{
    margin-left: 20%;
    margin-top: 25%;
    background-color: #3a376c;
    width: 60px;
    height: 50px;
    text-align: center;

}

div.b706
{

    background-color: #d0a904;
    margin-top: 25%;
    width: 60px;
    height: 50px;
    text-align: center;
}

.img-b1
{
    margin-top: 30%;
    width: 20%;
    height: 30%;
}

.img-b2
{
    margin-top: 30%;
    width: 20%;
    height: 30%;
}

.b707 , .b708
{
    width: 50%;
    height: 60%;
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
}

.img-c1
{
    margin-top: 0%;
    width: 15%;
    height: 20%;
    border-radius: 50%;
    margin-left: 43%;
}

.h3-c1{

    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.h5-c1
{
    color: rgba(255, 255, 255, 0.7);
    margin-top: -1%;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.p-c1
{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20%;
    margin-right: 1%;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-c2
{
    color: rgba(255, 255, 255, 0.7);
    margin-left: 1%;
    margin-right: 20%;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}